__pycache__/
requirements.txt
data/
weights/
wandb/
plots/
old_scripts/
logs/
utils/__pycache__/
configs/
runs/
metrics/
tests/
data_preparation/seq_sim_analysis/
data_preparation/cluter_mmseqs_SMPBind/
data_preparation/*.csv
*.png
*.json
*.gv
memory_snapshot.pickle
last_sync.txt
