__pycache__/
requirements.txt
data/
weights/
wandb/
plots/
old_scripts/
logs/
utils/__pycache__/
configs/
runs/
tests/test_generation/
tests/test_generation_smooth/
data_preparation/seq_sim_analysis/
*.png
*.json
*.gv
memory_snapshot.pickle
last_sync.txt
